:root {
    --sl-sidebar-width: 28rem;
    --sl-content-width: 80rem;
    --sl-color-bg-sidebar: #020617;
    --sl-color-bg: #11001f;
    --sl-color-bg-nav: #01030e;
    --sl-color-gray-5: transparent;
}

.terminal-preview {
    @apply font-mono bg-slate-50 dark:bg-slate-950 rounded-lg;
    border-color: rgba(189, 83, 238, 1.0)!important;
    border-width: 2px!important;
}

.terminal-preview-accent {
    @apply text-purple-500;
}

.sl-link-button.primary {
    @apply bg-purple-800 text-white rounded-xl border-none;
}

.sl-link-button.primary:hover {
    @apply bg-purple-400;
}

.spectre-panel {
    @apply rounded-xl border-2 border-purple-500;
}

.spectre-panel > pre {
    @apply border-none;
}

.spectre-selection {
    border: none!important;
}

figcaption, .expressive-code .copy {
    display: none!important;
}

.expressive-code .frame pre {
    background: transparent!important;
}

.hero {
  @apply pb-6;
}